body{
    margin: 0;
    background-image: linear-gradient(to right, rgb(58, 94, 253), rgb(185, 213, 255));
    text-align: center;
}

.menu {
    width: 700px;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 25px;
    position: absolute;
    top: 25%;
    left: 22.5%;
}

h1 {
    color: rgb(11, 11, 133);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(67, 67, 165);
    width: 50px;
    padding: 5px 50px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover{
    background-color: rgb(95, 95, 255)
}